body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ccc;
}
.box{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 60px;
    box-sizing: border-box;
    background-color: #eee;

    border: 2px solid #444;

    font-size: 20px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: clip;
    
}
h2{
    text-wrap: balance;
    word-break: normal;
    word-wrap: break-word;
}